body {
    margin: 0;
    padding: 0;
} 

.content{
    height: 100%;
    width: 100%;
    position:absolute;
    display: grid;
    grid-auto-columns: 100%;
    grid-template-rows: 100px 60px auto 100px;
    grid-auto-rows: max-content;
    grid-gap: 10px;
    grid-template-areas: 
    "nav"
    "start"
    "main"
    "footer";
    margin: 0;
    padding: 0;
    background-color: darkgray;
    font-size: 20px;
    font-family: 'Aldrich';
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: nav;
}

/* header{
    display: flex;
    align-items: center;
    justify-content: center;
} */

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 60px;
    color: lightblue;
    justify-content: center;
    display: block;
    margin: 10px 10px;
}

button{
    display: block;
    border:none;
    border-radius: 8px;
    padding:10px 20px;
    background-color: lightblue;
    color:darkgray;
    font-size:30px;
    text-transform: uppercase;
    margin: 10px 10px;
}

button:focus{
    outline:none;
}

button:hover{
    background-color: white;
    color:darkgray;
}

footer{
    font-size:10px;
    background-color: lightblue;
    color:darkgray;
    bottom: 0px;
    width:100%;
    text-align: center;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* DICE ROLL PART */
.diceroll{
    font-size:12px;
    padding: 20px;
    text-align: center;
    grid-area:dice;
}

.dice{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border-radius: 8px;
    display: grid;
    grid-template-rows: 10px 20px 10px 20px 10px 20px 10px;
    grid-template-columns: 10px 20px 10px 20px 10px 20px 10px;
    grid-template-areas: 
    ". . . . . . ."
    ". eye1 . eye2 . eye3 ."
    ". . . . . . ."
    ". eye4 . eye5 . eye6 ."
    ". . . . . . ."
    ". eye7 . eye8 . eye9 .";
}

.diceeye{
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    margin: 0px;
    padding:0px;
    display:inline-block;
}
main{
    display: grid;
    grid-template-columns: auto 200px auto auto auto 200px auto;
    grid-template-rows: auto;
    grid-template-areas: 
    ". dice . gameboard . score .";
    grid-area: main;
}

/*GAMEBOARD PART*/

.gameboard{
    display: none;
    grid-area: gameboard;
    grid-gap:5px;
    grid-template-columns:50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-areas:    
    ". . . . field1 field2 field3 . . . ."
    ". . . . field40 fieldb1 field4 . . . ."
    ". . . . field39 fieldb2 field5 . . . ."
    ". . . . field38 fieldb3 field6 . . . ."
    "field33 field34 field35 field36 field37 fieldb4 field7 field8 field9 field10 field11"
    "field32 fieldg1 fieldg2 fieldg3 fieldg4 . fieldy4 fieldy3 fieldy2 fieldy1 field12"
    "field31 field30 field29 field28 field27 fieldr4 field17 field16 field15 field14 field13"
    ". . . . field26 fieldr3 field18 . . . ."
    ". . . . field25 fieldr2 field19 . . . ."
    ". . . . field24 fieldr1 field20 . . . ."
    ". . . . field23 field22 field21 . . . .";
}

.field{
    border-radius: 50%;
    height: 100%;
    width:100%;
    background-color:white;
}

.bluefield{
    border-radius: 50%;
    height: 100%;
    width:100%;
    background-color:blue;
}

.redfield{
    border-radius: 50%;
    height: 100%;
    width:100%;
    background-color:RED;
}

.greenfield{
    border-radius: 50%;
    height: 100%;
    width:100%;
    background-color:green;
}

.yellowfield{
    border-radius: 50%;
    height: 100%;
    width:100%;
    background-color:yellow;
}

.start{
    grid-area: start;
}

.score{
    grid-area:score;
    text-align: center;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid lightblue;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }