html{
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
} 

.content{
    height: 100%;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: darkgray;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'Aldrich';
    flex-direction: column;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* header{
    display: flex;
    align-items: center;
    justify-content: center;
} */

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 60px;
    color: lightblue;
    justify-content: center;
    display: block;
    margin: 10px 10px;
}

button{
    display: block;
    border:none;
    border-radius: 8px;
    padding:10px 20px;
    background-color: lightblue;
    color:darkgray;
    font-size:30px;
    text-transform: uppercase;
    margin: 10px 10px;
}

button:focus{
    outline:none;
}

button:hover{
    background-color: white;
    color:darkgray;
}

/*FOOTER*/

footer{
    font-size:10px;
    background-color: lightblue;
    color:darkgray;
    bottom: 0px;
    width:100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 100px;
}

/* DICE ROLL PART */
.diceroll{
    font-size:12px;
    padding: 20px;
    text-align: center;
    grid-area:dice;
    display: flex;
}

.dice{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border-radius: 8px;
    display: grid;
    grid-template-rows: 10px 20px 10px 20px 10px 20px 10px;
    grid-template-columns: 10px 20px 10px 20px 10px 20px 10px;
    grid-template-areas: 
    ". . . . . . ."
    ". eye1 . eye2 . eye3 ."
    ". . . . . . ."
    ". eye4 . eye5 . eye6 ."
    ". . . . . . ."
    ". eye7 . eye8 . eye9 .";
}

.diceeye{
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    margin: 0px;
    padding:0px;
    display:inline-block;
}
main{
    display: grid;
    grid-template-columns: auto 200px auto auto auto 200px auto;
    grid-template-rows: auto;
    grid-template-areas: 
    ". dice . gameboard . score .";
    min-height: 600px;
}

/*GAMEBOARD PART*/

.gameboard{
    display: grid;
    grid-area: gameboard;
    grid-gap:5px;
    grid-template-columns:50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-areas:    
    ". . . . field1 field2 field3 . . . ."
    ". pawngreen1 pawngreen2 . field40 fieldblue1 field4 . pawnblue1 pawnblue2 ."
    ". pawngreen3 pawngreen4 . field39 fieldblue2 field5 . pawnblue3 pawnblue4 ."
    ". . . . field38 fieldblue3 field6 . . . ."
    "field33 field34 field35 field36 field37 fieldblue4 field7 field8 field9 field10 field11"
    "field32 fieldgreen1 fieldgreen2 fieldgreen3 fieldgreen4 . fieldyellow4 fieldyellow3 fieldyellow2 fieldyellow1 field12"
    "field31 field30 field29 field28 field27 fieldred4 field17 field16 field15 field14 field13"
    ". . . . field26 fieldred3 field18 . . . ."
    ". pawnred1 pawnred2 . field25 fieldred2 field19 . pawnyellow1 pawnyellow2 ."
    ". pawnred3 pawnred4 . field24 fieldred1 field20 . pawnyellow3 pawnyellow4 ."
    ". . . . field23 field22 field21 . . . .";
    min-width: 600px;
    min-height: 600px;
}

.field{
    border-radius: 50%;
    height: 100%;
    width:100%;
    background-color:white;
}

.bluefield{
    border-radius: 50%;
    height: 100%;
    width:100%;
    background-color:blue;
}

.redfield{
    border-radius: 50%;
    height: 100%;
    width:100%;
    background-color:RED;
}

.greenfield{
    border-radius: 50%;
    height: 100%;
    width:100%;
    background-color:green;
}

.yellowfield{
    border-radius: 50%;
    height: 100%;
    width:100%;
    background-color:yellow;
}

.score{
    grid-area:score;
    text-align: center;
    display: flex;
}

.pawn{
    border-color: black; 
    border-style: solid;
    border-width: thick;
    width: 30px;
    height: 30px;
    justify-self: center;
}

/*LOADER AND OTHERS*/

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid lightblue;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /*PAWN POPUP*/
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
  }

  .button-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }